<div id="dynamic-dropdown" class="hidden {{if enableAutoSpacing 'spacing-container dynamic-dropdown' ''}}">
</div>
<div class="dynamic-menu-container {{if enableAutoSpacing 'spacing-container' ''}}">
  {{yield}}

  <div class="dynamic-menu-item dropdown-button hidden" {{action 'toggleDropdown'}}>
    <i aria-hidden="true" class={{dropdownIconClasses}}></i>
  </div>
</div>
