<div id="dynamic-dropdown" class="dynamic-dropdown">
</div>
<div class="dynamic-menu-container {{if enableAutoSpacing 'spacing-container' ''}}">
  {{yield}}

  <div class="dynamic-menu-item dropdown-button hidden" {{action 'toggleDropdown'}}>
    <i aria-hidden="true" class="dropdown-icon {{dropdownIconClasses}}"></i>
    {{#if dropdownTitle}}
    <div class="dropdow-title">{{dropdownTitle}}</div>
    {{/if}}
  </div>
</div>
